<div class="alert alert-primary" role="alert">
    <h1>Diretivas customizada elementRef Renderert</h1>
</div>
<h1>
    <p style="background-color: red">
        Fundo vermelho somente com CSS.
    </p>
</h1>

<h1>
    <p dirFundoAmarelo>
        Fundo amarelo não e uma boa pratica utlizar deste jeito 'ElementRef'.
    </p>
</h1>
<h1>
    <p dirFundoVerde>
        Fundo verde utilizando boas praticas e de forma segura
        'ElementRef, Renderer2'.
    </p>
</h1>

<h1>
    <p dirEventMouse>
        Evento de mouse sobre o texto.
    </p>
</h1>

<h1>
    <p dirInputPropertyBinding [defaultColor]="'gray'"
        [higthLightColor]="'red'">
        Evento de mouse sobre o texto 'input' and' property binding.
    </p>
</h1>
<div class="alert alert-primary" role="alert">
    <h1>Diretivas ngelse</h1>
</div>
<h1>

    <h1>
        <div>
            <button (click)="showNames()" class="btn btn-primary">Cursos
                disponivel ou indisponivel</button>
        </div>

        
    </h1>
