<h2>
    Neste exemplo estudamos um pouco de 'input properties'.<br>
    No 'input properties' podemos passar a propriedade de um componente para o
    outro usando a anotação '{{InputInput}}'.<br>
    Neste exemplo as propriedades estão no componente
    'InputProperties01Component' e são passadas/enviada para
    'InputProperties02Component'.
</h2>
<h2>1 - {{nomeCursoInput}}</h2>
<h2>2 - {{nomeClienteInput}}</h2>
<h2>---------------------------</h2>
<h2>   3 - objeto Pessoa       </h2>
<h2>---------------------------</h2>
<h2>nomeCliente: {{pessoaInput.nomeCliente}}</h2>
<h2>telefone: {{pessoaInput.telefone}}</h2>
<h2>endereco: {{pessoaInput.endereco}}</h2>
<h2>idade: {{pessoaInput.idade}}</h2>
<h2>cidade: {{pessoaInput.cidade}}</h2>
<h2>estado: {{pessoaInput.estado}}</h2>